<!DOCTYPE html>
<html lang="ja">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/bulma.css">
  <section class="section">
    <div class="container">
      <div class="columns" id="app">
        <div class="column is-one-fifth">
          <list v-for="category in categories">
            <li><a @click.prevent="switch_category(category)">{{ category }}</a></li>
          </list>
        </div>
        <div class="column auto">
          <div class="box">
            <h1 class="title">パスワード管理システム</h1>
            <p class="subtitle">{{ current_category }}</p>
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th>エントリー</th>
                  <th>ユーザー名</th>
                  <th>パスワード</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="entry in entries">
                  <td v-for="e in entry">{{ e }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="./js/vue.min.js"></script>
  <script src="./js/axios.min.js"></script>
  <script src="./js/main.js"></script>
</html>